/*body, html, div, p, span, a, h1, h2, h3, h4, h5{
	margin 				: 0;
	padding 			: 0;
}

body, html{	
	width 				: 100%;
}

body{
	background 			: url('../images/bkgd.png') repeat top left;
	color 				: white;
	font-family 		: tahoma;
	font-weight 		: lighter;
	padding-top 		: 40px;
}

	body p{
		font-size 		: 14px;
	}
	
		body p a{
			font-size	: 16px;
		}

h1 {
	color 				: #E05E00;	
	font-style 			: italic;
}

a{
	color 				: #E05E00;	
	text-decoration		: none;
}

a:hover{
	text-decoration		: underline;
}*/

/* general */
.clear {
	clear: both;
}

/* Header */
.brand{
	color 				: #E05E00 !important;	
	font-family 		: georgia;
	font-style 			: italic;
}

/* list stuff */
#org{
	background-color 	: white;
	margin 				: 10px;
	padding 			: 10px;
}

#show-list{
	cursor 				: pointer;
}

/* bootstrap overrides */
.alert-message{
	margin: 2px 0;
}

.topbar{
	position 			: absolute;
}

/* Custom chart styling */
.jOrgChart {
  margin                : 10px;
  padding               : 20px;
}

/* Custom node styling */
.jOrgChart .node {
	font-size 			: 16px; font-family: 'Roboto Regular', sans-serif;
	/*background-color 	: #35363B;*/
	border 				: 1px solid #419ac3;
	color 				: #3b3b3b;
/*	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,240,240,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(241,240,240,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,240,240,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,240,240,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,240,240,1) 99%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,240,240,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f0f0',GradientType=0 ); /* IE6-9 */ 
 background-color 		: #35363B;
  display               : inline-block;
  /*width                 : 96px;*/ width: 150px; /*padding:10px 5px; */ padding:0; word-wrap: break-word; min-height:60px;
 /* height                : 85px;*/
  z-index 				: 10;
  margin               : 0 10px; overflow: hidden;

}
	.node p{
		font-family 	: tahoma;
		font-size 		: 10px;
		line-height 	: 11px;
		padding 		: 2px;
	}
	
	
.jOrgChart .line {
  height                : 35px;
  width                 : 2px;
}

.jOrgChart .down {
  background-color 		: #419AC3;	
  margin 				: 0px auto;
}

.jOrgChart .top {
  border-top          : 2px solid #419AC3;
}

.jOrgChart .left {
  border-right          : 1px solid #419AC3;
}

.jOrgChart .right {
  border-left           : 1px solid #419AC3;
}

/* node cell */
.jOrgChart td {
  text-align            : center;
  vertical-align        : top;
  padding               : 0;
}

/* The node */
.jOrgChart .node {
 
}

/* jQuery drag 'n drop */

.drag-active {
  border-style			: dotted !important;
}

.drop-hover {
  border-style			: solid !important;
  border-color 			: #E05E00 !important;
}
	
.node p.tags-ctrl img{ float:left; /* margin-left: 42px; */ width:48px; height:48px; border:1px solid #e7e7e7; } 	
/*.node span{ float:left; width:100%; font-size:14px; color: #3b3b3b; text-align:center; height:20px; overflow: hidden; line-height:16px; } 	*/
.node p.tags-ctrl { float:left; width:140px; clear:both; padding:0; margin: 5px; }
/*.node p.tags-ctrl span{ float:left; font-size:14px; color: #3b3b3b; text-align:left; height:20px;line-height:16px; margin-top:6px; margin-left:10px; } 	*/
.node i{ float:left; width:140px;  font-size:14px; color: #3b3b3b; text-align:left; line-height:16px; min-height:7px; font-style: normal; font-family: 'Roboto Regular'; font-size: 13px; 
background-color: #419ac3; padding:5px; text-align:right; /*-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;*/ }

.node img.main-img{ float:left; width:48px; height:48px; border:1px solid #e7e7e7; } 	
.node span.main-name{ float:left; width:80px; font-size:13px; color: #3B3B3B; font-family: 'Roboto Regular'; text-align:left; text-transform:capitalize; line-height:25px; white-space: nowrap; 
overflow: hidden; text-overflow: ellipsis; /*line-height:16px;*/ margin-left:10px; } 
.node span.main-desig{ float:left; width:80px; font-size:13px; color: #9b9b9b; font-family: 'Roboto Regular'; text-align:left; text-transform:capitalize; line-height:25px; white-space: nowrap; 
overflow: hidden; text-overflow: ellipsis; /*line-height:16px;*/ margin-left:10px; } 

.orgunit { border:1px solid #3b3b3b !important; }
.orgunit p {  font-size:13px; color: #3B3B3B !important; font-family: 'Roboto Regular'; text-align:center; text-transform:capitalize; line-height:25px;  }
.orgunit i{ background-color: #3b3b3b; }


.bunitclass { }
.bunitclass p {  font-size:13px; color: #3B3B3B !important; font-family: 'Roboto Regular'; text-align:center; text-transform:capitalize; line-height:25px;  }
.bunitclass i{ background-color: #419ac3;
/*-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;*/ }

.deptclass { border: 1px solid #EA7C2E !important; }
.deptclass p {  font-size:13px; color: #3B3B3B !important; font-family: 'Roboto Regular'; text-align:center; text-transform:capitalize; line-height:25px; /*Written by ramu css chrome*/ display:inline-block;}
.deptclass i{ background-color: #EA7C2E;
/*-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;*/ }
.ui-dialog-content .newframe-div{ width:auto !important;}








