@font-face {
    font-family: 'Nexa Light';
    src: url('../fonts/nexa_light.eot');
    src: url('../fonts/nexa_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_light.woff') format('woff'),
         url('../fonts/nexa_light.ttf') format('truetype'),
         url('../fonts/nexa_light.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nexa Bold';
    src: url('../fonts/nexa_bold.eot');
    src: url('../fonts/nexa_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_bold.woff') format('woff'),
         url('../fonts/nexa_bold.ttf') format('truetype'),
         url('../fonts/nexa_bold.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}